nav .logo img{
    width: 200px;
}
section{
    display:inline;
}
section img{
    display:inline;
    width:50%;
    padding-left:4%;
}
section .center{
   // text-align: center;
}

.inputForm{
    float:right;
    border-style: solid;
    border-width: 1px;
    border-color:  #eeeeee;
    border-top-color:red;
    //text-align:center;
    padding-left:4%;
    width:25%;
    margin:4% 10% 0 0%;
    height:350px;
}
p.signText{
    font-weight:bold;
}
.signSubmit{
    background-color:red;
    color:white;
    width:80%;
    font-weight:bold;
    padding-top:3%;
    padding-bottom:3%;
}
p span.checkBoxText{
    color:gray;
    font-size:10px;
    padding-right:27%;
}
p span.passwordText{
    font-size:10px;
}
div.messageSignIn{
    margin-top:25%;
}
.marginTop{
 margin-top:15%;
}
.signSubmit{
 margin-top:10%;
}